.sideBarContainer{
    width: 28%;
    
}

.sideBarHeader{
    text-transform: uppercase;
    text-align: center;
    color: gray;
    font-size: 15px;
    letter-spacing: 2px;
    box-sizing: border-box;
    padding: 10px 0;
}

.profileImageContainer{
    width: 100%;
}
.profileImageContainer img{
    max-width: 100%;
    max-height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0;
}
.postBio{
    text-align: center;
    font-size: 15px;
    color: black;
    margin: 10px 20px;
    font-weight: 400;
}
.recentPost{
    border-bottom: 1px solid #eee;
    padding: 10px;
    padding: 0;
}

.recentPost h2{
    font-size: 15px;
    color: black;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
}
.recentPost span{
    font-size: 10px;
    letter-spacing: 1px;
    color: grey;
}
.socialMedia img{
    margin: 10px 20px;
}